/* Global Resets */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(184, 221, 209);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*** main application  ***/
.app-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*** navbar ***/

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  color: rgb(150, 27, 27);
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navbar-menu li a {
  color: rgb(173, 106, 132);
  text-decoration: none;
}

.navbar-menu li a:hover {
  text-decoration: underline;
  color: rgb(85, 50, 117);
}

/* navbar media queries */

@media (min-width: 992px) {
  /* desktop */

  .navbar-logo {
    font-size: 2rem;
  }

  .navbar-menu li a {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  /* larger screens*/

  .navbar-logo {
    font-size: 2.5rem;
  }

  .navbar-menu {
    gap: 2.5rem;
  }
}

@media (min-width: 768px) {
  /* tablets */
  .navbar-menu {
    gap: 2rem;
  }
}

/* mission statement css */

.mission-container {
  margin: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90vw;
}

.image-wrapper {
  position: relative;
  width: 50%;
  opacity: 0.8;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 25px;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(185, 241, 234);
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.mission-statement {
  padding: 20px;
  box-sizing: border-box;
  width: 50%;
}

.mission-statement h3 {
  font-size: 18px;
  text-align: center;
}
